<div class="container mt-4">

  <div class="mb-4">
    <img src="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?q=80&w=3174&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid rounded" alt="Flat picture">
  </div>

  <div class="row g-3">
    <!-- LEFT -->
    <div class="col-12 col-lg-8">
      <div class="d-flex flex-column gap-3">

        <div class="card bg-light">
          <div class="card-body">
            <h2 class="h4 mb-1"><%= @flat.name %></h2>
            <p class="text-muted mb-0"><%= @flat.address %></p>
          </div>
        </div>

        <div class="card bg-light">
          <div class="card-body">
            <h3 class="h5">A bit more about this flat</h3>
            <p class="mb-0"><%= @flat.description %></p>
          </div>
        </div>

      </div>
    </div>

    <!-- RIGHT -->
    <div class="col-12 col-lg-4">
      <div class="d-flex flex-column gap-3">

        <div class="card bg-light">
          <div class="card-body">
            <h3 class="h5">Book this place!</h3>

            <div class="mb-2">
              <label class="form-label">From</label>
              <input type="date" class="form-control">
            </div>

            <div class="mb-3">
              <label class="form-label">To</label>
              <input type="date" class="form-control">
            </div>

            <button class="btn btn-success w-100">Book</button>
          </div>
        </div>

        <div class="card bg-light">
          <div class="card-body">
            <h3 class="h5">Details</h3>
            <div class="d-flex justify-content-between">
              <span><i class="fa-solid fa-people-roof me-1"></i><%= @flat.number_of_guests %> people</span>
              <span><i class="fa-solid fa-euro-sign me-1"></i><%= @flat.price_per_night %></span>
            </div>
          </div>
        </div>

        <div class="card bg-light">
          <div class="card-body">
            <div class="d-flex justify-content-between">
                <div>
                  <h3 class="h5">Share</h3>
                </div>
                <div>
                  <span>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                  </span>
                </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
